.bg-templates{
	background: center/cover no-repeat url(../images/wordpress-templates.jpg)
}
.section-insights{
	background: #fafafa;
	color: var(--color-principal);
}

.fondo-negro{
}
img.tiny {
	width: 50%;
}
body {
	background: url(../images/pattern2.png);
	color: var(--color-principal);
}

.card {
	background: #fdfdfd;
	border:1px solid #efefef;
}
.card-perfil{
	text-align: center;
}
.card-perfil h3{
	margin-bottom: 0;
}
.card-perfil .location{
	font-size: .9em;
	font-weight: 300;
}
.foto-perfil{
	border: 1px solid var(--color-principal);
    border-radius: 50%;
    padding: 4px;
    height: auto;
    max-width: 180px;
    margin-bottom: 30px;
}
.subtext {
	font-weight: 600;
    margin-bottom: 13px;
    display: inline-block;
    color: #8c8c8c;
    letter-spacing: 2px;
    font-size: .9em;
}
.card-perfil .lista{
	list-style: none;
}
.card-perfil .lista li{
	display: inline-block;
}
.card-perfil .social-lista {
	display: block;
	padding: 0;
}
.social-lista img{
	max-width: 40px;
	height: auto;
	margin: 10px;
}